<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  class="background-img" no-scroll padding>
  <!-- <img src="../assets/iPhone 13/pg1.png" alt="jife"> -->
 
  <ion-button  href="./home" class="menu" fill="no" style="color:white" >
    <ion-icon name="menu" slot="icon-only">
    </ion-icon>
  </ion-button>
  <ion-button  href="./booking" class="appoint-css" fill="clear" style="color:white" >
    
    Customer Appointment
  </ion-button>
</ion-content>