<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>appointment</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="background-img" no-scroll padding>
  <!-- <ion-header collapse="condense">
  </ion-header> -->
  <ion-label class="l1" color="dark">
    Branch: 
  </ion-label>
  <ion-label class="l2" color="dark">
    my date 
  </ion-label>
  <ion-label class="l3" color="dark">
    time 
  </ion-label>
  <ion-button 
  href="./c-appointment"
  class="but" 
  fill="outline"
  expand="block"
  color="danger"
  style="color: white"
  (click)=appointments()>
    Nxtinvisib
  </ion-button>
  <ion-button 
  href="./booking"
  size="small"
  class="backbutton" 
  fill="outline"
  expand="block"
  color="danger"
  style="color: rgb(17, 17, 17)"
  (click)=viewAppoints()>
    invisibVieApp
  </ion-button>

</ion-content>
