
<ion-content  class="background-img" no-scroll padding>
    <!-- <img src="../assets/iPhone 13/pg1.png" alt="jife"> -->
   
    <ion-button href="./menu" class="menu" fill="no" style="color:white" >
      <ion-icon name="menu" slot="icon-only">
      </ion-icon>
    </ion-button>
    <!-- <ion-label color="light">{{user.userid}}</ion-label> -->
</ion-content>








    <!-- <ion-button color="danger" expand="block">
      Login
    </ion-button>
    <ion-select value="-1" label="" interface="popover" (ionChange)="triggerEvent()" label-placement="floating" fill="outline" placeholder="State">
    
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <ion-item>
      <ion-select value="-1" interface="action-sheet" (ionChange)="triggerEvent()">
       <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64">Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
        <ion-select-option value="genesis">Sega Genesis</ion-select-option>
        <ion-select-option value="saturn">Sega Saturn</ion-select-option>
        <ion-select-option value="snes">SNES</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
      <p class="center"> orange, more range</p>
  </ion-toolbar>
</ion-footer> -->
