#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.background-img{
  --background:url("/assets/iPhone 13/pg2.png") 0 0/100% 100% no-repeat ;
  position: relative;

}

.menu{
  
position: absolute;
--background:0;
left: -10px;
top: 10px;
}